#contact{
  color: #c0c0c0;
  border: 1px solid#c0c0c0;
  padding: 35px;
  margin: 0px;
  background-color: rgba(0,0,0,1);

}

p{
  text-align: justify;
  width:500px;
}

a{

  border: 1px solid #2c773e ;
  padding: 10px;
  background-color: rgb(127, 17, 205);
  padding: 0 1em;
  color:#FFF;
  text-decoration: none;
}
#menuMain {
display:flex;
list-style-type: none;
background-color: rgb(127, 17, 205);
padding:30px;
}

#menuMain a {
  text-transform: uppercase;
}

h2{
  text-transform: uppercase;
  text-shadow:rgb(201, 180, 60) 0 -10px 45%;
  font-size: 24px;


}